<div class="h-full p-5 flex flex-col">
  <div class="flex-3">
    <h1 class="text-2xl font-bold">Import components</h1>
    <div class="w-full flex justify-center">
      <app-stepper
        class="mt-10"
        [steps]="[
          { name: 'Step 1', description: 'Select csv', icon: 'description' },
          { name: 'Step 2', description: 'Review components', icon: 'search' },
          {
            name: 'Step 3',
            description: 'Check already existing components',
            icon: 'find_in_page'
          },
          {
            name: 'Step 4',
            description: 'Importing components',
            icon: 'cloud_upload'
          },
          { name: 'Step 5', description: 'Finish', icon: 'done' }
        ]"
        [currentStep]="step()"
      ></app-stepper>
    </div>
  </div>

  <div class="flex-1 flex w-full justify-center items-center">
    @if (step() === 0) {
      <div class="h-full flex justify-center items-center">
        <ciri2-drag-and-drop (parsedFile)="processFile($event)" />
      </div>
    } @else if (step() === 1) {
      <div class="p-5">
        <ciri2-table
          [columns]="viewColumns()"
          [data]="components().slice(0, 10)"
          [showPaginator]="false"
          [showCheckbox]="false"
          [showFilter]="false"
        />
        <div class="flex mt-4">
          <p class="text-base font-bold">Total amount of components:</p>
          <p class="text-base">{{ components().length }}</p>
        </div>
        <div class="flex mt-2">
          <p class="text-base font-bold">Found type:</p>
          <p class="text-base">{{ type() }}</p>
        </div>
        <app-ciri2-button
          class="mt-2"
          [text]="'Check for duplicates'"
          color="primary"
          (onClick)="nextStep()"
        ></app-ciri2-button>
      </div>
    } @else if (step() === 2) {
      <div class="flex justify-center">
        <div class="flex flex-col items-center">
          <p class="text-xl font-bold mt-4">{{ components().length }}</p>
          <p class="text-xl">Total components</p>

          <p class="text-xl font-bold mt-4">{{ newComponents().length }}</p>
          <p class="text-xl">New components</p>

          <p class="text-xl font-bold mt-4">
            {{ duplicateComponents().length }}
          </p>
          <p class="text-xl">Modified components</p>

          <div class="flex gap-4 mt-8">
            @if (newComponents().length) {
              <app-ciri2-button
                [text]="'Import only new components'"
                color="primary"
                (onClick)="importNewComponents()"
              ></app-ciri2-button>
            }

            @if (duplicateComponents().length > 0) {
              <app-ciri2-button
                [text]="'Import all components'"
                color="error"
                (onClick)="importAllComponents()"
              ></app-ciri2-button>
            }
          </div>
        </div>
      </div>
    } @else if (step() === 3) {
      <div role="status">
        <svg
          aria-hidden="true"
          class="w-16 h-16 text-gray-200 animate-spin fill-blue-600"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"
          />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill"
          />
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
    } @else if (step() === 4) {
      <div class="flex flex-col w-full h-full items-center justify-center">
        <svg
          class="checkmark"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 52 52"
          width="200"
          height="200"
        >
          <circle
            class="checkmark__circle"
            cx="26"
            cy="26"
            r="25"
            fill="none"
          />
          <path
            class="checkmark__check"
            fill="none"
            d="M14.1 27.2l7.1 7.2 16.7-16.8"
          />
        </svg>
        <p class="text-2xl font-bold mt-8">Components imported successfully</p>
        <app-ciri2-button
          class="mt-2"
          [text]="'Finish'"
          color="primary"
          (onClick)="finish()"
        ></app-ciri2-button>
      </div>
    }
  </div>
</div>
